@charset "UTF-8";

/* Scaffolding and type
 ================================================== */
html {
  font-size: 16px;
}

@media (min-width: 720px) {
  html {
    font-size: 20px;
  }
}

.h0 { font-size: 6rem; }
@media (min-width: 40em) {
  .h0 { font-size: 10rem; }
}

.icon-container {
  margin: 0 auto;
  width: 6rem;
}
@media (min-width: 40em) {
  .icon-container {
    width: 10rem;
  }  
}

.beaker {
  fill: #0076df;
}

.beaker:hover {
  fill: #25a28f;
}