<ul class="flex flex-row flex-wrap md-block list-reset rounded md-border">
            {% for link in site.data.navigation_links %}
              <li class="flex-grow-1 flex-basis-half sm-flex-basis-third flex justify-content-center align-items-center center md-full-width md-block md-left-align">
                <a href="{{ link.URL }}" class="button md-block button-transparent flex-grow-1 {{ link.additional_style_class }}">{{ link.text }}</a>
              </li>
            {% endfor %}
            </ul>

            <hr class="mt0 mb2 md-hide">
