@charset "UTF-8";

/**************************************
 *                                    *
 *           for the homie            *
 *            Doctor Bolt             *
 *                                    *
 *           chasebolt.com            *
 *                                    *
 **************************************/

/* Scaffolding and type
 ================================================== */
*,
*:before,
*:after {
  box-sizing:border-box;
}

html {
  font-size: 16px;
}

@media (min-width: 40em) {
  html {
    font-size: 20px;
  }
}

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  font: 1rem/1.5 "Merriweather", "Georgia", serif;
  color: #333;
}

.tree {
  bottom: 0;
  right: 0;
  position: fixed;
  width: 5%;
}


.container {
  max-width: 60em;
}

.top-3 { top: 3rem; }
.top-5 { top: 5rem; }
.top-10 { top: 10rem; }

.lato { font-family: 'Lato'; }
.merriweather { font-family: 'Merriweather'; }

.thin { font-weight: 300; }

/*
 * Basscss Flex Object
 */

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.flex-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.flex-last {
  -webkit-box-ordinal-group: 1025;
  -webkit-order: 1024;
      -ms-flex-order: 1024;
          order: 1024;
}

.flex-auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.flex-none {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.flex > div {
  box-sizing: border-box;
}

@media (min-width: 40em) {
  .sm-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .sm-flex > div {
    box-sizing: border-box;
  }
}

@media (min-width: 52em) {
  .md-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .md-flex > div {
    box-sizing: border-box;
  }
}

@media (min-width: 64em) {
  .lg-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .lg-flex > div {
    box-sizing: border-box;
  }
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-self-end {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.border-box {
  box-sizing: border-box;
}

.border-1 {
  border-width: .5rem;
}

.border-bottom-1 {
  border-bottom-width: .25rem;
}

.pl1 {
  padding-left: .5rem;
}

.pl2 {
  padding-left: 1rem;
}

.pb2 {
  padding-bottom: 1rem;
}

.pr2 { padding-right: 1rem; }

.pr0 { padding-right: 0; }

.pb0 { padding-bottom: 0; }

.rg_green:hover { background-color: #8ED425; }

.orcid_green:hover { background-color: #a6ce39; }

.facebook_blue:hover { background-color: #3A5795; }

.twitter_blue:hover { background-color: #55ACEE; }

.instagram_tan:hover { background-color: rgb(168,126,102); }

.rg_green:hover,
.orcid_green:hover,
.facebook_blue:hover,
.twitter_blue:hover,
.instagram_tan:hover { color: white;}

.body-text-color { color: #333; }

.no-decoration,
.no-decoration:hover { text-decoration: none; }

.lh0 { line-height: 0; }
.lh1 { line-height: 1; }
.lh2 { line-height: 1.5; }

.mb40per { margin-bottom: .4rem; }

.py30per {
  padding-top: .3rem;
  padding-bottom: .3rem;
}


#publications li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.disc { list-style-type: disc; }

.indent2 {
  text-indent: 1rem;
}

#research p {
  text-indent: 1rem;
}