<header class="mt3">
      <div class="container px2">
        <div class="clearfix flex flex-end mxn2">

          <div class="col-2 px2">
            <a href="/"><img src="/img/{{ site.self_pic_title }}" class="circle" alt="Dr. Chase Bolt"></a>
          </div>

          <div class="col-10 px2">
            <h1><a href="/" class="merriweather regular body-text-color no-decoration">{{ site.name }}, {{ site.degree }}</a></h1>
            <h2 class="h4 merriweather regular">{{ site.description_brief }}</h2>
            <h2 class="m0 mbQuarter h4 border-bottom merriweather regular">{{ site.job_title }}, <a href="{{ site.lab_URL }}">{{ site.lab_name }}</a>
            </h2>
          </div>

        </div>
      </div>
    </header>