<!DOCTYPE html>
<html lang="en-US">

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="mt2">
      <div class="container px2">
        <div class="clearfix flex flex-start mxn2">

          <nav class="col-2 px2">
            {% include navigation.html %}
          </nav>

          <main class="col-10 mb3 px2">
            <div class="flex flex-center flex-space-between py1 px2 bg-silver rounded">
              <h2 class="m0 merriweather">{{ page.title }}</h2>
              <a href="/CCBolt_CV.pdf" class="button py30per h6 merriweather">Download CV as pdf</a>
            </div>
            <div class="px2">

              <section class="mb3" id="post-doctoral">
                <h3 class="merriweather border-bottom">Post-Doctoral Work</h3>
                <ul class="list-reset">
                  <li class="mb3">
                    <h4 class="merriweather">École Polytechnique Fédérale de Lausanne<br>Denis Duboule Laboratory</h4>
                    <h4 class="mt0 merriweather">2015-present</h4>
                    <p class="mb1 pl2">Department: Swiss Institute for Experimental Cancer Research</p>
                    <p class="mb1 pl2">Research: <span class="italic">Hox</span> gene cluster regulation during mouse development.</p>
                  </li>
                </ul>
              </section>

              <section class="mb3" id="education">
                <h3 class="merriweather border-bottom">Education</h3>
                <ul class="list-reset">
                  <li class="mb3">
                    <h4 class="merriweather">Doctorate of Philosophy<br>Lisa Stubbs Laboratory</h4>
                    <h4 class="mt0 merriweather">2008-2014</h4>
                    <p class="mb1 pl2">University of Illinois, Department of Cell and Developmental Biology</p>
                    <p class="mb1 pl2">Research: Regulation and function of the T-box transcription factor <span class="italic">Tbx18</span> in mouse urogenital development.</p>
                    <p class="mb1 pl2">Teaching:
                      <ul class="ml1">
                        <li class="disc">Teaching Assistant: MCB 410 – Developmental Biology</li>
                        <li class="disc">Teaching Assistant: MCB 250 – Molecular Genetics<br><span class="pl2">- Ranked “Excellent” on TA reviews by students</span></li>
                        <li class="disc">Teaching Assistant: CDB 495 – Genetics and Genomics</li>
                      </ul>
                    </p>
                  </li>
                  <li class="mb3">
                    <h4 class="merriweather">Bachelor of Science, Cum Laude<br>Nicholas Stover Laboratory</h4>
                    <h4 class="mt0 merriweather">2005-2008</h4>
                    <p class="mb1 pl2">Bradley University, Department of Cellular and Molecular Biology</p>
                    <p class="mb1 pl2">Research: Characterization of a novel non-receptor tyrosine kinase in the cnidarian, <span class="italic">Hydra vulgaris</span>.</p>
                    <p class="mb1 pl2">Teaching:
                      <ul class="ml1">
                        <li class="disc">Teaching Assistant: General Biology I and II</li>
                        <li class="disc">Teaching Assistant: General Chemistry I</li>
                      </ul>
                    </p>
                  </li>
                </ul>
              </section>

              <section class="mb3" id="pubs">
                <h3 class="merriweather border-bottom">Publications</h3>
                <ul class="list-reset">
                  <li class="mb3">
                    <h4 class="merriweather"><span class="italic">Tbx18</span> maintains a cell proliferation program in developing mouse prostate</h4>
                    <h4 class="mt0 merriweather">2015</h4>
                    <p class="mb1 pl2">C. Chase Bolt, Soumya Negi, Huimin Zhang, Xiaochen Lu, and Lisa Stubbs</p>
                    <p class="mb1 pl2">In preparation</p>
                  </li>
                  <li class="mb3">
                    <h4 class="merriweather">A distant downstream enhancer directs essential expression of <span class="italic">Tbx18</span> in urogenital tissues</h4>
                    <h4 class="mt0 merriweather">2014</h4>
                    <p class="mb1 pl2">C. Chase Bolt, Colleen M. Elso, Xiaochen Lu, Fuming Pan, Andreas Kispert, and Lisa Stubbs</p>
                    <p class="mb1 pl2"><span class="italic">Developmental Biology</span> (2014) 392, pp 483-493.</p>
                  </li>
                </ul>
              </section>

              <section class="mb3" id="conferences">
                <h3 class="merriweather border-bottom">Conferences &amp; Symposia</h3>
                <ul class="list-reset">
                  <li class="mb3">
                    <h4 class="merriweather">Institute for Genomic Biology Fellows Symposium, Urbana, Illinois</h4>
                    <h4 class="mt0 merriweather">May 2013</h4>
                    <p class="mb1 pl2">Dissecting the Tbx18 locus regulatory structure and its role in mouse prostate development</p>
                    <p class="mb1 pl2">C. Chase Bolt, Xiaochen Lu, Laura Chittenden, Lisa J. Stubbs</p>
                  </li>
                  <li class="mb3">
                    <h4 class="merriweather">IGB/BGI Collaborative Workshop on Genomics, Shenzhen, China</h4>
                    <h4 class="mt0 merriweather">January 2013</h4>
                  </li>
                  <li class="mb3">
                    <h4 class="merriweather">Cellular &amp; Molecular Biology Training Grant Symposium, Urbana, Illinois</h4>
                    <h4 class="mt0 merriweather">November 2012</h4>
                    <p class="mb1 pl2">Developmental dynamics of the Tbx18 locus and its downstream transcriptional targets</p>
                    <p class="mb1 pl2">C. Chase Bolt, Xiaochen Lu, Laura Chittenden, Nuno Camboa, Sylvia Evans, Lisa J. Stubbs</p>
                  </li>
                  <li class="mb3">
                    <h4 class="merriweather">GSA Mouse Molecular Genetics Conference, Pacific Grove, California</h4>
                    <h4 class="mt0 merriweather">October 2012</h4>
                    <p class="mb1 pl2">Developmental dynamics of the Tbx18 locus and its downstream transcriptional targets</p>
                    <p class="mb1 pl2">C. Chase Bolt, Xiaochen Lu, Laura Chittenden, Nuno Camboa, Sylvia Evans, Lisa J. Stubbs</p>
                  </li>
                </ul>
              </section>

              <section class="mb3" id="awards">
                <h3 class="merriweather border-bottom">Scholarships &amp; Awards</h3>
                <ul class="list-reset">
                  <li class="mb3">
                    <h4 class="merriweather">NIH Ruth L. Kirchstein NRSA Predoctoral Training Fellowship</h4>
                    <h4 class="mt0 merriweather">2010-2012</h4>
                  </li>
                  <li class="mb3">
                    <h4 class="merriweather">Bradley Biology Scholarship</h4>
                    <h4 class="mt0 merriweather">2005-2008</h4>
                  </li>
                  <li class="mb3">
                    <h4 class="merriweather">Bradley University Dean's List</h4>
                    <h4 class="mt0 merriweather">2005-2008</h4>
                  </li>
                </ul>
              </section>

              <section class="mb3" id="coursework">
                <h3 class="merriweather border-bottom">Graduate Coursework</h3>
                <ul class="list-reset">
                  <li class="mb3">
                    <h4 class="merriweather">RNA-Seq Data Analysis Workshop</h4>
                    <h4 class="mt0 merriweather">June 2013</h4>
                    <p class="pl2">Pipeline construction for the analysis of RNA-Seq data analysis.</p>
                  </li>
                  <li class="mb3">
                    <h4 class="merriweather">MCB 529 – Genomics and Gene Networks</h4>
                    <h4 class="mt0 merriweather">Spring 2010</h4>
                    <p class="pl2">Tools for the analysis of genomics data.</p>
                  </li>
                  <li class="mb3">
                    <h4 class="merriweather">MCB 571 - Bioinformatics</h4>
                    <h4 class="mt0 merriweather">Fall 2009</h4>
                    <p class="pl2">Overview of the tools available for manipulation of bioinformatics data.</p>
                  </li>
                  <li class="mb3">
                    <h4 class="merriweather">MCB 529LS – Genome Annotation</h4>
                    <h4 class="mt0 merriweather">Spring 2009</h4>
                    <p class="pl2">Using Apollo to build gene models from sequencing data.</p>
                  </li>
                  <li class="mb3">
                    <h4 class="merriweather">MCB 529AB – Advanced Cell Biology</h4>
                    <h4 class="mt0 merriweather">Spring 2009</h4>
                    <p class="pl2">In depth study of cell biology and experimental techniques</p>
                  </li>
                  <li class="mb3">
                    <h4 class="merriweather">MCB 502 – Advanced Molecular Genetics</h4>
                    <h4 class="mt0 merriweather">Fall 2008</h4>
                    <p class="pl2">Study of The Central Dogma and associated experimental techniques.</p>
                  </li>
                  <li class="mb3">
                    <h4 class="merriweather">MCB 501 – Advanced Biochemistry</h4>
                    <h4 class="mt0 merriweather">Fall 2008</h4>
                    <p class="pl2">Advanced study of biochemical pathways and associated chemistry.</p>
                  </li>
                </ul>
              </section>

              <section class="mb3" id="skills">
                <h3 class="merriweather border-bottom">Skills &amp; Techniques</h3>
                <p>Mouse colony management, genotyping by PCR, qRT-PCR, Cloning, 5’ and 3’ RACE, ChIP-Chip, ChIP-Seq, RNA-Seq, Immunohistochemistry, <span class="italic">In situ</span> hybridization, Tissue culture, Tissue embedding, paraffin sectioning, cryo-sectioning, Western blot, siRNA knockdown, Tissue micro-dissection, FACS, X-Gal staining, Whole genomic amplification, histopathology.</p>
              </section>

            </div>
          </main>

        </div>
      </div>
    </section>

  </body>

</html>
