<!DOCTYPE html>
<html lang="en-US">

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="mt2">
      <div class="container px2">
        <div class="clearfix flex flex-start flex-column md-flex-row mxn2">

          <nav class="col-12 mx-auto px2 md-col-2 md-mr0 md-ml0">
            {% include navigation.html %}
          </nav>

          <main class="mt1 md-mt0 col-12 md-col-10 px2">
            <h2 class="m0 py1 px2 bg-silver rounded">{{ page.title }}</h2>
            <div class="p2 lh3" id="research">

              {{ content }}
              
            </div>
          </main>

        </div>
      </div>
    </section>

  </body>

</html>
